XPalm.pro.user*
release/
Simu/
Outputs/
Makefile*
.qmake.stash
ui_mainwindow.h
.Rproj.user
.qtc_clangd/
src/XPalm.dll
.Rhistory
src/rcpp_xpalm.o
build-XPalm-Desktop_Qt_5_15_2_MSVC2015_64bit-Release
debug
/rsconnect
/xpalmd_plugin_import.cpp
/xpalm_plugin_import.cpp
RScripts/App_XpalmV0.R
